html * {
  outline: none;
}
body {
    font-size: 15px;
    font-family: Helvetica Neue, Helvetica, Arial, Malgun gothic, '돋움', AppleSDGothicNeo;
    color: #bbb;
}
ul, ol, li {list-style:none; padding-left:0; margin-left:0;}

a { color: #428bca; }
a:hover { color: #428bca; }

/* Navigation - LNB */
.lnb {
    width: 290px;
    position: absolute;
    bottom: 30px;
    top: 0;
    overflow: auto;
    left: 0;
    background-color: #333;
    padding: 0 20px;
}
.lnb .logo {
    height: 13px;
    margin: 20px auto 0;
}
.lnb .title {
    text-align: center;
    padding: 0 0 15px;
}
.lnb .title .link {
    color: #f47023;
    //font-style: italic;
}
.lnb h3 {
    font-size: 1.2em;
    color: #f47023;
}
.lnb h3 a {
    color: #f47023;
}
.lnb h3 a:hover {
    color: #9a3282;
}
.lnb .lnb-api li,
.lnb .lnb-examples li {
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #1f292e;
}
.lnb .lnb-api h3 a {
    color: #f47023;
}
.lnb .lnb-api h3 a:hover {
    color: #f47023;
    text-decoration: underline;
}
.lnb .lnb-api a,
.lnb .lnb-examples a {
    color: #6aaad2;
}
.lnb .lnb-api a:hover,
.lnb .lnb-examples a:hover {
   color: #6aaad2;
}
.lnb .lnb-api .toggle-subnav {
    padding: 0 3px;
    margin-bottom: 0;
}
.lnb .lnb-api .toggle-subnav:focus {
    outline: 0;
}
.lnb .lnb-api .toggle-subnav.btn span {
   color: #6aaad2;
}
.lnb .lnb-api .toggle-subnav.btn:focus span{
    color: #428bca;
}
.lnb .lnb-api .toggle-subnav {
    font-size: .5em;
}
.lnb .member-type {
    margin-top: 5px;
    margin-left: 5px;
    color: #48865c;
    font-weight: normal;
    font-size: .9em;
    cursor: text;
}
.lnb .inner li {
    margin-left: 15px;
    border-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    color: #bbb;
    font-size: .9em;
}
.lnb .inner a {
    color: #bbb;
}
.lnb .inner a:hover {
    color: #eee;
}

.lnb .version {
    color: #aaa;
    font-size: .9em;
}

/* LNB-TAB */
.lnb-tab {
    text-align: center;
    text-decoration: none;
}
.lnb-tab li {
    display: inline-block;
    padding-top: 15px;
}
.lnb-tab li a {
    color: #aaa;
    font-size: 0.9em;
}
.lnb-tab li.selected a {
    color: #fff;
    font-size: 1em;
}
.lnb-tab li+li a h4:before {
    content: "\007C";
    display: inline-block;
    color: #999;
    padding: 0 10px;
}

/* MAIN-CONTENT */
.main {
    padding: 20px;
    left: 297px;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    overflow: auto;
    margin-bottom: 35px;
    background: #3c3c3c;
}
.main article ol,
.main article ul {
    margin-left: 15px;
}
.main section header {
    padding-top: 0;
    // border-bottom: 1px solid #999;
}
.main header h2 {
  color: #fff;
}
.main section header h2 {
    font-size: 1.7em;
    font-weight:bold;
    padding-left : 20px;
    // border-left: 5px solid #999;
    position: relative;
}
.main section header h2::before {
  content: '> ';
  position: absolute;
  left: 0;
  font-size: inherit;
  color: #797979;
  font-weight: bold;
}

.main section article {
    padding: 10px;
}
.main section article .container-overview {
    padding: 15px;
    // border: 1px solid #dedede;
    border-radius: 7px;
    background: #333;
}
.main section article h3.subsection-title {
    font-size: 1.4em;
    color: #f47023;
    padding:35px 0 0 5px;
    border-bottom: 3px solid #444242;
    position: relative;
    padding-left: 15px;
}
.main section article h3.subsection-title::before {
  content: '> ';
  position: absolute;
  left: 0;
  font-size: inherit;
  color: #484545;
  font-weight: bold;
}
.main section article dl h4 {
    font-size: 1em;
    font-weight: bold;
}
.main section article dl h4 .signature {
    font-size: .9em;
}
.main section article dl h4 .signature-attributes {
  opacity: .6;
}
.main section article dl h4 .type-signature {
    font-size: 1em;
    // color: #31708f;
    font-weight: normal;
}
.main section article dl dd.members {
  padding-bottom: 15px;
}
.main section article dl dd.members:last-child {
  padding-bottom: 0;
}
.main section article dl dt.methods {
  padding-top: 15px;
}
.main section article dl dt .name {
    padding: 4px 10px;
    background-color: inherit;
    display: flex;
    margin: 10px 0px;
    background-color: #333;
    align-items: center;
}
.main section article dl dt .name span:first-child,
.main section article dl dt .name span.signature {
  padding-left: 0;
}
.main section article dl dt .name span {
  padding-left: 3px;
}

.main a.coded-link,
.main .readme a.coded-link,
.main a.coded-link code,
.main .readme a.coded-link code {
  background: inherit;
  color: #f2777a;
}

.main .readme code,
.main .details code,
.main section article p code,
.main section article dl.namespaces dt code {
  background: inherit;
  color:#ff5151;
}

.main section article dl.namespaces dt .name {
    background-color: #3c3c3c;
    font-size: .9em;
}
.main section article dl.namespaces dt .name:hover {
    background-color: #333;
    cursor: pointer;
}

.main section article dl dd {
    padding: 0 30px;
}
.main section article dl dd h5{
    font-weight: bold;
}
.main section article .container-source {
    font-weight: normal;
    font-size: .9em;
    // padding-right: 10px;
    margin-left: auto;
}

.main section article .container-returns {
    // margin-bottom: 7px;
}
.main section article .container-returns span,
.main section article .param-desc,
.main section article .container-params table {
    margin-left: 7px;
}

.main section article .param-desc {
  font-size: .9em;
  padding-top: 0;
}

.main section article .container-params table th,
.main section article table.props th,
.readme table th {
  font-weight: normal;
  border: none;
  background: #333;
  font-size: 1em;
  padding: 4px 5px;
}
.main section article .container-params table tr,
.main section article table.props tr,
.readme table tr {
  background: #434343;
}
.main section article .container-params table tr td,
.main section article table.props tr td,
.readme table tr td {
  padding: 4px 5px;
}
.main section article .container-params table thead th:first-child,
.main section article table.props thead th:first-child,
.readme table thead th:first-child {
  border-radius: 3px 0 0 0;
}
.main section article .container-params table thead th:last-child,
.main section article table.props thead th:last-child,
.readme table thead th:last-child {
  border-radius: 0 3px 0 0;
}
.main section article .container-params table tbody tr:last-child td:first-child,
.main section article table.props tbody tr:last-child td:first-child,
.readme table.props tbody tr:last-child td:first-child {
  border-radius: 0 0 0 3px;
}
.main section article .container-params table tbody tr:last-child td:last-child,
.main section article table.props tbody tr:last-child td:last-child,
.readme table tbody tr:last-child td:last-child {
  border-radius: 0 0 3px 0;
}

/** fix table colors for overview part */
.main section article .container-overview table.props {
  margin-bottom: 10px;
}
.main section article .container-overview table.props th {
    background: #2d2d2d;
}
.main section article .container-overview table.props tr {
  background: #434343;
}

.main dd > div,
.main dd > h5 {
  padding: 8px 0px 0px 0px;
}

.main section article .container-returns p {
    display: inline;
}
.main section article .container-properties h5,
.main section article .container-returns h5,
.main section article .container-params h5,
.main section article table th,
.main dd h5,
.main section article table td.type,
.main section article table td.attributes {
    font-family: Verdana, sans-serif;
    font-size: .8em;
}
.main section article table,
.main section article table th,
.main section article table td {
    font-family: Verdana, sans-serif;
    vertical-align: top;
    border: 0;
    padding: 1px 3px;
    font-size: .9em;
}
.main section article table td.name,
.main section article table td.type,
.main section article table td.attributes,
.main section article table td.default {
    // max-width: 100px;
    min-width: 80px;
    word-break: break-all;
}
.main section article table td.type,
.main section article table td.attributes {
    color: #aaa;
}
.main section article table code {
  padding: 0;
  background: inherit;
  color: #ff5151;
}
.main section article table td p {
    padding: 0;
    margin: 0;
}
.main section article table td h6 {
    padding: 0 0 0 3px;
    margin: 3px 0 0 3px;
    font-size: 85%;
}
.main section article .container-properties table.props {
    margin-top: -3px;
}
.main .main-content article {
    padding:0;
}
.main .container-overview,
.main .main-datail {
    overflow: hidden;
}
.main .container-overview h3 {
  font-size: 1em;
}
.main .details {
  padding-top: 15px;
  font-size: .9em;
}

[data-deprecated] {
  text-decoration: line-through;
  opacity: .6;
}

.main dt.tag-todo,
.main dt.tag-deprecated {
    color:#ff5151;
    font-style: italic;
}
.main .main-detail .tag-source {
    float:left;
    display:none;
}
.main .main-detail .tag-author {
    float:left;
}
.main .main-detail .tag-author a {
    color:#181818;
    font-size:1.2em;
    text-decoration:none;
}
.linenums li.selected {
    background: #faebd7;
}
.iinenums .number {
    color: #777;
    display: inline-block;
    width: 40px;
}

/* FOOTER */
footer {
    padding-top: 3px;
    line-height: 35px;
    height: 35px;
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: #333;
    color: #ebf8ff;
    text-align: center;
}

/* README*/
.readme {
    font-size: 1em;
}
.readme p,
.readme ul,
.readme ol {
    padding: 3px 0 3px 5px;
}
.readme li {
    list-style: initial;
}
.readme ul.checked-list {
  margin-left: 0;
}
.readme li.check-yes,
.readme li.check-no {
  position: relative;
  list-style-type: none;
  padding-left: 20px;
}
.readme li.check-yes::before {
  content: '✔';
}
.readme li.check-no::before {
  content: '☐';
}
.readme li.check-yes::before,
.readme li.check-no::before {
  position: absolute;
  left: 0;
}

.readme img {
    max-width: 100%;
}
.readme h1 {
    font-size: 2.4em;
    font-weight:normal;
    padding: 10px 0 5px 0;
    border-bottom: 2px solid #f47023;
}
.main pre,
.readme pre {
    margin: 15px 0 0 0;
    border: none;
    background: #2d2d2d;
    border-radius: 3px;
}
.readme li p {
    padding: 10px 0;
    color: #757575;
}
.readme h2 {
    padding-bottom: 3px;
    border-bottom: 1px solid #428bca;
    font-size: 2.1em;
}
.readme h3 {
    font-size: 1.9em;
    padding-bottom: 3px;
    border-bottom: 1px solid #435a6d;
}

.readme h4 {
    font-size: 1.7em;
    // border-bottom: 1px solid #428bca;
}
.readme h5 {
    font-size: 1.5em;
    // border-bottom: 1px solid #428bca;
}
.readme h6 {
    font-size: 1.3em;
}
.main .readme table {
    margin: 5px 30px 20px;
}
.main .readme table th,
.main .readme table td {
    padding: 4px 25px 4px 15px;
}
.main .readme table th {
  font-size: 1.1em;
}
.main .readme table td {
  font-size: 1em;
}
.main .readme section header h2 {
    padding-left:10px;
    position: relative;
}
.readme section header h2::before {
  content: '> ';
  position: absolute;
  left: 0;
  font-size: inherit;
  color: #484545;
  font-weight: bold;
}
.readme section .container-overview {
    color:#333;
    border-radius: 2px;
    border:1px solid #dedede;
    padding:15px 15px 10px;
}
.readme section .container-overview .description {
    color:#666;
}
.readme section .container-overview dt {float:left; }
.readme section .container-overview dd {float:left; margin-left:10px; }
.readme blockquote {
    padding: inherit;
    margin-left: 7px;
    font-size: inherit;
    color: #777;
    border-left: 5px solid #777;
}

/* Search box */
.search-container {
    position: relative;
    padding-bottom: 10px;
}
.search-container input {
    padding: 7px;
    width: 100%;
    color: #efefef;
    box-shadow: 0px 0px 2px 1px #333;
    background-color: #646464;
    border-radius: 3px;
    border: none;
}
.search-container input.has-results {
    border-radius: 3px 3px 0 0;
}

.search-container a {
    color: #fff;
}
.search-container strong {
    color: #f47023;
    font-weight: normal;
}
.search-container ul {
    display: none;
    font-size: .9em;
    position: absolute;
    min-width: 100%;
    background-color: #3c3c3c;
    // border: 1px solid #1f292e;
    border-radius: 0 0 3px 3px;
    box-shadow: 0px 0px 2px 1px rgba(100, 100, 100, .2);
    z-index: 1;
}
.search-container ul li {
    // text-align: left;
    // width: 100%;
    padding: 4px 7px;
    // overflow: hidden;
    border: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.search-container ul li:hover,
.search-container ul li.highlight{
    background-color: #333;
}
.search-container ul li:hover a,
.search-container ul li.highlight a {
  text-decoration: none;
}
.search-container ul li .group {
    font-size: .8em;
    color: #ccc;
    margin-left: auto;
}
.search-container ul li:hover .group,
.search-container ul li.highlight .group {
    color: #fff;
}

/* ETC */
.logo {
    width: 90px;
    vertical-align: initial;
}
.hidden {
    display: none;
}
.footer-text {
    padding-left: 3px;
    display: inline-block;
}
#example-nav {
    margin-top: 15px;
}
#resizer {
    width: 7px;
    position: fixed;
    left: 290px;
    height: 100%;
    background-color: #323131;
    cursor: col-resize;
}
span.param-type {
    color: #797979;
}
pre.prettyprint {
    font-size: 0.9em;
}
span.icon {
    font-size: .9em;
    border-radius: 3px;
    padding: 1px 2px;
}

span.icon.orange {
    color: #f47023;
    // background-color: #dff0d8;
    // border-color: #d6e9c6;
}

span.icon.green {
    color: #48865c;
    // background-color: #dff0d8;
    // border-color: #d6e9c6;
}
span.icon.blue {
    color: #428bca;
    // background-color: #d9edf7;
    // border-color: #bce8f1;
}
span.icon.yellow {
    color: #8a6d3b;
    // background-color: #fcf8e3;
    // border-color: #faebcc;
}
span.icon.red {
    color: #A94443;
    // background-color: #f2dede;
    // border-color: #ebccd1;
}
span.arrow {
    font-size: .8em;
    padding-right: 5px;
}

::-webkit-input-placeholder {
  color: #b5b5b5
}
::-moz-placeholder {
  color: #b5b5b5
}
:-ms-input-placeholder {
  color: #b5b5b5
}
::-ms-input-placeholder {
  color: #b5b5b5
}
:-moz-placeholder {
  color: #b5b5b5
}
::placeholder {
  color: #b5b5b5
}
